ul {
    background-color: #4b30c7;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: Center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000
}

.active {
    background-color:#5e5e5e
}